
# Playwright
node_modules/
test-results/
playwright-report/
/blob-report/
/playwright/.cache/
/playwright/.auth/
.env
.env.*
test-results
screenshots
playwright-report
logs/
*.log
trace.zip
*.trace
.png
*.webm
.DS_Store
Thumbs.db